# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Data files
*.csv
*.xlsx
*.h5

# Environment variables
.env

# System files
.DS_Store
